<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Event Creation</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/character/all}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/character/create}"> Character Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/calendar/dashboard}"> Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/date/dashboard}"> Events </a>
            </li>
        </ul>
    </div>
</nav>
<br>
<h1>CREATE EVENT</h1>
<br>
<div class="flex-box">
    <div class="col-md-6">
        <form action="#" class="form-horizontal"
              th:action="@{/date/save}"
              th:object="${form}"
              method="post">
            <!--            name -->
            <div>
                <div><label for="name">Name </label></div>
                <div><input type="text" name="name" id="name"></div>
            </div>
            <!--            Description-->
            <div>
                <div><label for="description">Description </label></div>
                <div><input type="text" name="description" id="description"></div>
            </div>
            <!--            years-->
            <div>
                <div><label for="years">year </label></div>
                <div><input type="number" name="years" id="years"></div>
            </div>
            <!--            months-->
            <div>
                <div><label for="months">month </label></div>
                <div><input type="number" name="months" id="months"></div>
            </div>
            <!--            weeks TODO decide if necessary-->
<!--            <div>
                <div><label for="weeks">week </label></div>
                <div><input type="number" name="weeks" id="weeks"></div>
            </div>-->
            <!--            days-->
            <div>
                <div><label for="days">day </label></div>
                <div><input type="number" name="days" id="days"></div>
            </div>
            <!--            hours-->
            <div>
                <div><label for="hours">hour </label></div>
                <div><input type="number" name="hours" id="hours"></div>
            </div>
            <!--            minutes-->
            <div>
                <div><label for="minutes">minute </label></div>
                <div><input type="number" name="minutes" id="minutes"></div>
            </div>
            <!--            seconds-->
            <div>
                <div><label for="seconds">second </label></div>
                <div><input type="number" name="seconds" id="seconds"></div>
            </div>
<!--            FIXME how to enter duration?-->
            <div>
                <div><label for="duration.year">duration </label></div>
                <div><input type="number" th:name="duration.year" id="duration.year"></div>

            </div>

            <!--            submit button-->
            <div>
                <br>
                <div><input type="submit" value="Submit"></div>
            </div>
        </form>
    </div>
    <div class="container">
        <a class="btn btn-info" href="#" th:href="@{/date/all}">Events </a>
    </div>
</div>
</body>
</html>
