<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Calendar Year</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/character/all}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/character/create}"> Character Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/calendar/dashboard}"> Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/date/dashboard}"> Events </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/chapter/dashboard}"> Chapters </a>
            </li>
        </ul>
    </div>
</nav>
<script>
    function rowClicked(value) {
        location.href = "/date/" + value;
    }
</script>
<h1 th:each="year : ${eventYear}" th:text="'Events of ' + ${year.years}"></h1>
<table style="column-width: auto" class="table table-hover link">
<thead th:each="property : ${eventYear}">
<tr>
<th></th>
    <th th:text="${property.type} ? 'Event' : ''" ></th>
    <th th:text="${property.name} ? 'Name' : ''" ></th>
    <th th:text="${property.description} ? 'Description' : ''" ></th>
    <th th:text="${property.months} ? 'Month' : ''" >
    <th th:text="${property.weeks} ? 'Week' : ''" ></th>
    <th th:text="${property.days} ? 'Day' : ''" ></th>
    <th th:text="${property.hours} ? 'Hour' : ''" ></th>
    <th th:text="${property.minutes} ? 'Minutes' : ''" ></th>
    <th></th>
</tr>
</thead>
    <tbody th:each="item : ${events}">
    <tr th:if="${events.empty}">
        <td colspan="2"> No Calendars Available</td>
    </tr>
    <tr
            th:onclick="'javascript:rowClicked(\'' + ${item.id} + '\');'">
        <!--        <td><a th:text="${item.id}"></a></td>-->
        <td><a th:text="${item.shortForm}"></a></td>
        <td><a th:text="${item.type}"></a></td>
        <!--        <td><a th:text="${item.years}"></a></td>-->
        <td><a th:text="${item.name} ? ${item.name} : 'Unnamed ' + ${item.id}"></a></td>
        <td><a th:text="${item.description}"></a></td>
        <td><a th:text="${item.months}"></a></td>
        <td><a th:text="${item.weeks}"></a></td>
        <td><a th:text="${item.days}"></a></td>
        <td><a th:text="${item.hours}"></a></td>
        <td><a th:text="${item.minutes}"></a></td>
        <!--        this works -->
        <td><a th:href="@{/calendar/edit/{id}(id=${item.id})}">Edit</a></td>
        <td><a th:href="@{/calendar/delete/{id}(id=${item.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
