<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/character/all}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/character/create}"> Character Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/calendar/dashboard}"> Calendars </a>
            </li>
        </ul>
    </div>
</nav>
<h1>
    <a th:text="${calendar.name}"></a></h1>
<table style="width: 100%; flex: auto" >
    <tr>
        <td><a th:text="${calendar.id}"><label> ID </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.name}"><label> Name </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.description}"><label>Description </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.years}"><label> years </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.months}"><label> months </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.weeks}"><label> weeks </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.days}"><label> days </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.hours}"><label> hours </label></a></td>
    </tr>
    <tr>
        <td><a th:text="${calendar.minutes}"><label> minutes </label></a></td>
    </tr>
</table>
<br>
<a class="btn btn-info" href="#" th:href="@{/calendar/edit/{id}(id=${calendar.id})}"> edit </a>

</body>
</html>
