<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Profile</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/}">Index</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/character/all}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/character/create}"> Character Creation </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/calendar/dashboard}"> Calendar </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/date/dashboard}"> Events </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/chapter/dashboard}"> Chapters </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    function rowClicked(value) {
        location.href = "/character/" + value;
    }
</script>
<h1>
    <!--    <a th:text="${character.id}"></a>-->
    <a th:text="${character.firstName} ? ${character.firstName} : 'unnamed ' + ${character.id}"></a>
    <a th:text="${character.lastName}"></a>
</h1>
<table>
    <tr>
        <td th:if="${character.alias}">
            Alias: <a th:text="${character.alias} ? ${character.alias} : 'not known by any other name' "></a>
        </td>
    </tr>
    <tr>
        <td th:if="!${character.birth}">
            <a th:text="'Birth date unknown'"></a>
        </td>
        <td th:if="${character.birth}">
            Date of birth: <a th:href="@{/date/year/{year}(year=${character.birth.years})}"
                              th:text="${character.birth.shortForm}"></a>
        </td>
    </tr>
    <tr>
        <td th:if="!${character.mother}">
            <a th:text="'Mother unknown'"></a>
        </td>
        <td th:if="${character.mother}">
            Mother: <a th:href="@{/character/{id}(id=${character.mother.id})}"
                       th:text="${character.mother.firstName} ? ${character.mother.firstName} : 'unknown'"></a>
        </td>
    </tr>
    <tr>
        <td th:if="!${character.father}">
            <a th:text="'Father unknown'"></a>
        </td>
        <td th:if="${character.father}">
            Father: <a th:href="@{/character/{id}(id=${character.father.id})}"
                       th:text="${character.father.firstName} ? ${character.father.firstName} : 'unknown'"></a>
        </td>
    </tr>
    <tr>
        <td th:if="${character.sex}">
            Sex: <a th:text="${character.sex} ? ${character.sex} : 'unknown' "></a>
        </td>
    </tr>
    <tr>
        <td th:if="${character.role}">
            Role: <a th:text="${character.role} ? ${character.role} : 'not set' "></a>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td><h2>Children</h2></td>
    </tr>
    <!--    Children of character -->
    <tr th:each="mkids : ${all}" th:if="${mkids.mother} == ${character} or ${mkids.father} == ${character}">
        <td>
            <a th:href="@{/character/{id}(id=${mkids.id})}"
               th:text="${mkids.firstName != null} ? ${mkids.firstName} : 'unnamed' + ${mkids.id}"></a>
        </td>
        <td>

        </td>
    </tr>

    <!--    <tr>-->
    <!--        <td th:if="!${#lists.isEmpty(all.mother)} || !${#lists.isEmpty(all.father)}" th:each="father : ${all.father}" th:text="${father == character}">-->

    <!--        </td>-->
    <!--    </tr>-->
</table>
<!--table for list of events they are present in-->

<a class="btn btn-info" href="#" th:href="@{/character/edit/{id}(id=${character.id})}"> edit </a>
</body>
</html>
