<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Character List</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> First Name </th>
        <th> Last Name </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${characters.empty}">
        <td colspan="2"> No Characters Available </td>
    </tr>
    <tr th:each="charac : ${characters}">
        <td th:text="${charac.id}"></td>
        <td th:text="${charac.firstName}"></td>
        <td th:text="${charac.lastName}"></td>
<!--        this works -->
        <td><a th:href="@{/character/edit/{id}(id=${charac.id})}">Edit</a></td>
        <td><a th:href="@{/character/delete/{id}(id=${charac.id})}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
