<!--
<h1>Update</h1>

<form action="#"
      th:action="@{/character/update/{id}(id=${character.id})}"
      th:object="${character}"
      method="post">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="firstName" class="col-form-label">First Name</label>
            <input class="form-control" type="text" id="firstName" placeholder="First name" th:field="*{firstName}"
                   name="firstName">
            <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
            <label for="lastName" class="col-form-label">Last Name</label>
            <input class="form-control" type="text" id="lastName" placeholder="Last name" th:field="*{lastName}"
                   name="lastName">
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <div class="row">
                <div class="col-md-6 mt-5">
                    <input type="submit" class="btn btn-primary" value="Update User">
                </div>
            </div>
        </div>
    </div>
</form>

-->
